body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  line-height: 2;
}

h1 {
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #085755;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #085755;
  font-weight: normal;
  padding: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

hr {
  border: dotted #EAF6A6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

a {
  color: #085755;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

.hyper-link {
  color: #085755;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin: 0;
  text-decoration: none;
}

.hyper-link:hover {
  color: #1FA3A1;
}

ul {
  margin: auto;
}

.top-container {
  background-color: #1FA3A1;
  position: relative;
  padding-top: 100px;
}

.top-cloud {
  position: absolute;
  right: 19%;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 19%;
  bottom: 300px;
}

.profile-picture {
  width: 300px;
  height: 300px;
  border-radius: 100%;
}

.intro {
  width: 30%;
  margin: auto;
}

.hobbies-row {
  width: 60%;
  margin: 0 auto;
  /* margin: 6% auto 2%; */
  /* text-align: left; */
}

/* .skill-margin {
  margin-bottom: 0;
} */

.skills-to-learn {
  width: 50%;
  text-align: left;
  margin: 60px auto 100px;
}

/* .first-column-learn {
  float: left;
  margin: 0 100px;
} */

.computer-img {
  border-radius: 100%;
  width: 120px;
  display: block;
  /* display: inline-block; */
  /* vertical-align:middle; */
  /* float: left;
  margin-right: 2%;
  margin-bottom: 0; */
}

.bootcamp-link {
  margin: 0;
  font-weight: bold;
  color: #11999E;
}

.bootcamp-link:hover {
  color: #085755;
}

/* .first-column {
  float: left;
  margin-right: 70px;
} */

.hobby-img {
  width: 22%;
  float: right;
  margin-left: 30px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #1FA3A1;
  color: #085755;
  padding: 50px 0 20px;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}